<footer class="footer p-10 bg-primary text-neutral-content">
    <aside>
        <span class="material-symbols-outlined text-5xl text-secondary">church</span>
        <p class="font-serif text-lg font-bold">Arciconfraternita SS. Immacolata</p>
        <p>Meta (NA) • Pellegrinaggio Giubilare 2026</p>
    </aside>
    <nav>
        <h6 class="footer-title text-secondary opacity-100">Link Utili</h6>
        <a class="link link-hover">Programma</a>
        <a class="link link-hover">Meteo Roma</a>
        <a class="link link-hover">Sito Vaticano</a>
    </nav>
    <nav>
        <h6 class="footer-title text-secondary opacity-100">Info</h6>
        <p></p>
        <p></p>
    </nav>
</footer>